html,
body {
  overflow: hidden;
}
html,
body,
div,
canvas {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
}

#textCanvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
}
